<template name="portalNew">
  {{#if isInactiveNetworkStatus}} {{#if showModal}} {{> disclaimerModal}} {{/if}}


  <section class="mp-portal setup-portfolio">
    <!-- term&condition -->
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 setup-portfolio-wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="setup-header">
                <h4>Set up a new fund</h4>
                <p>Create a new fund and deploy it to the Ethereum blockchain.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="line-divider"></div>
            <form class="col s12 new-portfolio" id="new_portfolio">
              <div class="row">
                <div class="col-md-12">
                  <div class="setup-form">
                    <div class="mp-form">
                      <div class="form-group">
                        <input id="portfolio_name" type="text" class="form-control validate" minlength="3" placeholder="Your Fund Name (Visible to others)"
                          required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="setup-form">
                    <div class="mp-form">
                      <div class="form-group">
                        <input id="portfolio_email" type="email" class="form-control validate" minlength="3" placeholder="Your Email" required>
                        <br>
                        <li>Email is required so that we can contact the winners and grant them prizes.</li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line-divider"></div>
              <div class="row">
                <div class="col-md-12">
                  <div class="setup-module">
                    <h6 style="color:grey">Universe Module: </h6>
                    <p>Melon Universe</p>
                    <ul class="setup-module-list">
                      <li><a href="https://kovan.etherscan.io/address/{{etherToken}}" target="_blank" rel="noopener">Ether Token (ETH-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{melonToken}}" target="_blank" rel="noopener">Melon Token (MLN-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{bitcoinToken}}" target="_blank" rel="noopener">Bitcoin Token (BTC-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{euroToken}}" target="_blank" rel="noopener">Euro Token (EUR-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{repToken}}" target="_blank" rel="noopener">Rep Token (REP-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{statusToken}}" target="_blank" rel="noopener">Status Token (SNT-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{bancorToken}}" target="_blank" rel="noopener">Bancor Token (BNT-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{aragonToken}}" target="_blank" rel="noopener">Aragon Token (ANT-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{basicAttentionToken}}" target="_blank" rel="noopener">Basic Attention Token (BAT-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{dogecoinToken}}" target="_blank" rel="noopener">Dogecoin Token (DOGE-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{digixDaoToken}}" target="_blank" rel="noopener">Digix Dao Token (DGD-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{litecoinToken}}" target="_blank" rel="noopener">Litecoin Token (LTC-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{etherClassicToken}}" target="_blank" rel="noopener">Ether Classic Token (ETC-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{golemNetworkToken}}" target="_blank" rel="noopener">Golem Network Token (GNT-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{rippleToken}}" target="_blank" rel="noopener">Ripple Token (XRP-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{singularDtvToken}}" target="_blank" rel="noopener">SingularDTV Token (SNGLS-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{gnosisToken}}" target="_blank" rel="noopener">Gnosis Token (GNO-T)</a></li>
                      <li><a href="https://kovan.etherscan.io/address/{{iconomiToken}}" target="_blank" rel="noopener">Iconomi Token (ICN-T)</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="setup-module">
                    <h6 style="color:grey">Exchange Module:</h6>
                    <ul class="setup-module-list">
                      <li><a href="https://kovan.etherscan.io/address/{{exchange}} " target="_blank" rel="noopener">Melon Exchange</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="setup-module">
                    <h6 style="color:grey">Price Feed Module:</h6>
                    <ul class="setup-module-list">
                      <li><a href="https://kovan.etherscan.io/address/{{cryptoCompare}}" target="_blank" rel="noopener">Cryptocompare</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="line-divider"></div>
              <div class="row">
                <div class="col-md-12">
                  <label>
                      <input id="checkbox" type="checkbox" unchecked> I have read and agree to the <a href="/downloads/GTA-melon-competition.pdf" target="_blank" rel="noopener" style="color:red">Terms and Conditions of the Melon Competition</a>.
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 btn-portfolio text-left">
                  <button type="submit" class="btn btn-light-blue">Create New Fund</button>
                </div>
              </div>
              <div class="clear"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{else}} {{/if}}
</template>


<!-- Modal Template-->
<template name="disclaimerModal">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div class="modal fade in show" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel" style="color: red; text-align: center;">DISCLAIMER</h4>
        </div>
        <div class="modal-body">
          <p style="font-weight: bold;">Please note that this is a beta version of the Melon portal with purpose intended for testing a software only.
            DO NOT USE REAL ETHER OR VALUE TOKEN. All data collected will be deleted from our database regularly. </p>
          <p style="font-weight: bold;">The User understands and accepts that in the event of announcing any Melon related competitions, the winners and
            prizes will be determined at full discretion by Melonport AG and Melonport AG alone.</p>
          <p style="font-weight: bold;">The user understands and accepts that this software is provided “as is” and any expressed or implied warranties
            of merchantability and fitness for a particular purpose are disclaimed. In no event shall the regrets or contributors
            be liable of any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not
            limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption).
            However caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence
            or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such
            damage.
          </p>
          <p style="font-weight: bold;">Any applicable law is Swiss law.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">I disagree</button>
          <button type="button" id="okDisclaimer" class="btn btn-primary">I agree</button>
        </div>
      </div>
    </div>
  </div>
</template>
